*.class

# Package Files #
*.jar
*.war
*.ear

# Maven generated output #
target

# Eclipse files.
.project
.classpath
.settings

# IntelliJ IDEA files.
.idea
*.iml

# OS
.DS_Store
 
# Misc
*.swp
.java-version

# Keith's files
sites
status
deploy
modules.sh
